* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color:grey;
   
}



.search {
    padding: 10px;
    font-size: 20px;
    color: blue;
   
}

button {
    cursor: pointer;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
   
}

button:hover {
    transition: all 2s;
    background-color:blue;
}


.contUser {
    margin-top: 20px;
    border-bottom: 4px solid blue;
    padding: 10px;
    display: flex;
    align-items:center;
    font-size: 40px;
    gap: 50px;
}

.contUser img {
    width: 20%;
   
}

.div {
    display: flex;
    flex-direction: column;
}
/*  */
body {
    /* overflow: hidden; */
}
section {
    /* display: flex;
    justify-content: center;
    align-items : center;
    height: 100px; */
 
}

.lists {
    /* height: calc(100vh - 100px);
    overflow: auto; */
    background: rgb(153, 153, 153)
}
/* 2 */
section {
    display: flex;
    justify-content: center;
    align-items:center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color :rgb(153, 153, 153);
    height: 100px;

 
}

.lists {
    /* height: calc(100vh - 100px);
    overflow: auto; */
}



.spin {
    margin-top: 100px;
}


.img {
    height: 204px;
    width: 100%;
    
}




.clear {
    position: absolute;
    right: 20px;
    width: 100px;
    height: 50px;
    background-color:red;
}

.contUser img {
    width: 80%;
}